* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css');

@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css');


body {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: rgba(0, 0, 0, 1);
  position: relative;
}

.header {
  background: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3) ;
}

.container-w1 {
  width: 1536px !important;
  padding: 0 77px !important;
}

.header .container-w1 {
  height: 100px;
}

.logo {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

.logo h3 {
  font-size: 34px;
}

a {
  color: rgba(0, 0, 0, 1) !important;
  text-decoration: none !important;
}

.header-child {
  width: 835px !important;
}

.header-nav {
  width: 430px !important;
}

.header-nav a {
  font-size: 16px;
  font-weight: 500;
}

.header-icons {
  width: 234px;
}

.header-icons a {
  font-size: 24px;
  font-weight: 700 !important;
}

.header-icons button {
  min-width: 24px !important;
  width: 24px !important;
  height: 24px !important;
  padding: 0 !important;
  margin: 0 !important;
  color: rgba(0, 0, 0, 1) !important;
  border-radius: 50% !important;
}

.header-icons button svg {
  font-size: 24px !important;
}

.home-slider {
  position: relative;
}

.title {
  text-transform: capitalize !important;
  font-size: 32px !important;
  font-weight: bold !important;
}

.title-desc {
  font-size: 20px !important;
  color: #666666 !important;
}

.container-w2 {
  width: 1536px !important;
  padding: 0 200px !important;
}

.align-w-box {
  width: 100%;
}

.img-container {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  height: 520px;
}

.img-container img {
  transform: scale(2.75);
}

.cursor {
  cursor: pointer;
}

.browse-tag {
  font-size: 24px;
  font-weight: 475;
}

.container-w3 {
  width: 1536px !important;
  padding: 0 136px !important;
}

.products-row {
  flex-wrap: wrap;
  gap: 22px;
}

.product-item {
  width: 23.6%;
  height: auto;
  cursor: pointer;
}

.product-item img {
  transition: all 0.12s ease-in-out;
}

.product-item:hover img {
  transform: scale(1.0512);
}

.product-item .badge {
  display: inline-block;
  position: absolute;
  padding: 5px 8px;
  top: 12px;
  left: 12px;
  z-index: 100;
  background: #b88e2f !important;
  transition: all 0.12 ease-in-out;
}

.img-wrapper {
  border: 1px solid #f4f5f7;
  overflow: hidden;
}

.product-info {
  background: #f4f5f7;
  height: 145px;
  padding: 12px 18px;
}

.name {
  padding: 0;
  font-size: 24px;
  font-weight: 475;
  margin: 0 !important;
}

.short-desc {
  font-size: 16px !important;
  color: #666666 !important;
  margin-top: 5px;
  margin-bottom: 12px;
}

.net-price {
  font-size: 20px !important;
  font-weight: 475 !important;
}

.old-price {
  font-size: 16px;
  color: #b0b0b0;
  text-decoration: line-through;
}

.footer {
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  margin-top: 100px;
}

.container-w4 {
  width: 1536px;
  padding: 0 96px;
}

.brand-name {
  font-size: 24px !important;
  font-weight: bold !important;
  color: rgba(0, 0, 0, 1) !important;
}

.bg-hover {
  visibility: hidden;
  height: 298.3px;
  width: 100%;
  background: #3a3a3a;
  opacity: 0;
  top: 0;
  transition: all 0.12s ease-in-out;
  right: 0px !important
}

.product-item:hover .bg-hover {
  visibility: inherit;
  opacity: 0.72;
}

.product-hover {
  visibility: hidden;
  height: 298.3px;
  width: 100%;
  opacity: 0;
  top: 0;
  transition: all 0.12s ease-in-out;
  right: 0px !important;
}

.product-item:hover .product-hover {
  visibility: inherit;
  opacity: 1;
}

.product-item:hover .badge {
  top: -21px;
  left: -21px;
}

.product-hover button {
  width: 202px;
  height: 48px;
  background: #fff;
  border-radius: 0 !important;
  font-size: 16px !important;
  font-weight: 475 !important;
  text-transform: none;
  color: #b88e2f;
  font-family: 'Poppins', sans-serif !important;
}

.product-item .item {
  font-size: 16px;
  font-weight: 475;
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: all 0.12s ease-in-out;
}

.product-item .item p {
  padding-left: 1px;
  margin: 0;
}

.top-title {
  margin-bottom: 60px;
}

.address {
  font-size: 16px;
  color: #9f9f9f;
}

.top-title {
  font-size: 16px;
  color: #9f9f9f;
}

.flink-container {
  height: 212px !important;
  margin-bottom: 36px;
}

.flink-container a {
  font-size: 16px !important;
  font-weight: 475 !important;
}

.visibility-hidden {
  visibility: hidden;
}

.sm-button {
  width: 202px;
  height: 48px;
  background: #fff !important;
  border-radius: 0 !important;
  font-size: 16px !important;
  font-weight: 475 !important;
  text-transform: none !important;
  color: #b88e2f !important;
  font-family: 'Poppins', sans-serif !important;
  border: 1px solid #b88e2f !important;
}

.sm-button:hover {
  color: #fff !important;
  background: #b88e2f !important;
}

.btn-container {
  margin-top: 36px;
}

.nlt-inp {
  border: 0px !important;
  outline: none !important;
  border-bottom: 1px solid black !important;
  padding-bottom: 3px !important;
  font-size: 14px;
  padding-top: 0 !important;
  margin-top: 0 !important;
  width: 196px !important;
}

.nlt-btn {
  padding: 0 5px !important;
  border: 0 !important;
  outline: none !important;
  margin-left: 12px !important;
  color: black !important;
  border-bottom: 1px solid black !important;
  border-radius: 0 !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  font-family: 'Poppins', sans-serif !important;
}

.user-page button {
  width: 202px;
  height: 48px;
  background: #fff;
  border-radius: 0 !important;
  font-size: 16px !important;
  font-weight: 475 !important;
  text-transform: none;
  color: #b88e2f;
  font-family: 'Poppins', sans-serif !important;
  border: 1px solid #b88e2f;
}

.user-page button:hover {
  background: #b88e2f;
  color: #fff;
}

.signin-form svg {
  font-size: 36px;
}

.form-txt {
  font-size: 18px;
  margin-left: 5px !important;
}

.signin-form p {
  margin-bottom: 0 !important;
}

.signin-form .p1 {
  margin-left: 66px !important;
}

.signin-form .p2 {
  margin-top: 36px !important;
  height: 75px !important;
}

.signin-form .p2 input {
  outline: none !important;
  border: 1px solid rgba(0, 0, 0, 0.3) !important;
  height: 52px !important;
  padding: 12px !important;
  font-size: 18px !important;
  border-radius: 5px !important;
  font-weight: 400 !important;
}

.main button {
  width: 202px;
  height: 48px;
  background: #fff;
  border-radius: 0 !important;
  font-size: 16px !important;
  font-weight: 475 !important;
  text-transform: none;
  color: #b88e2f;
  font-family: 'Poppins', sans-serif !important;
  border: 1px solid #b88e2f;
}

.main button:hover {
  background: #b88e2f;
  color: #fff;
}

.signin-form .p2 i {
  right: 216px;
}
/*-----------------Cart CSS-------------------------------*/
.cart-information {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  padding: 80px;
}

.cart-items {
  margin-right: 30px;
  width: 100%;
}

.cart-total {
  background-color: #F9F1E7;
  padding: 30px 80px 80px 80px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.checkout-btn {
  background-color: transparent !important;
  border-radius: 5px !important;
  padding: 10px 40px !important;
  border: 1px solid black !important;
  margin: 20px auto auto auto !important;
  font-size: 1.2rem !important;
  color: black !important;
  font-family: 'Poppins', sans-serif !important;
}

.checkout-btn:hover {
  background-color: #B88E2F !important;
  color: #fff !important;
}

.cash-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* text-align: center; */
  /* border: 1px solid black; */
  width: 100%;
  gap: 60px;
  margin-bottom: 20px;
}

.cash-info p {
  /* border: 1px solid black; */
  margin: auto;
}

.total-text {
  font-size: 1.2rem;
  color: #B88E2F;
}

.subtotal-text {
  color: #9F9F9F;
}

.cart-img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.items-head {
  background-color: #F9F1E7;
  padding: 10px 0;
}

.items-head th, .items-body th {
  padding: 10px 10px;
  text-align: center;
}

.items-row {
  align-items: center;
}

.delete-item {
  cursor: pointer;
}

.delete-item:hover {
  color: red;
}

.ads-frame {
  padding: 60px 20px;
  background-color: #FAF3EA;
}

.ads-part {
  width: 100%;
}

.ads-icon {
  width: 40%;
  height: 40%;
  margin-right: -20px;
  margin-top: -15px;
}

.ads-text {
  color: #898989;
}

.quality {
  border: 2px solid lightgray;
  border-radius: 5px;
}

.intro-frame {
  height: 300px;
  overflow: hidden;
}

.intro-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(5px);
}

.intro-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: 2rem;
  font-weight: bold;
}

.intro-header {
  font-size: 2.4rem;
  font-weight: 600;
}

.link-text {
  font-size: 1rem;
  font-weight: 500;
}

/* .link-text:hover {
  color: #FFFFFF;
} */

.container-w5 {
  width: 1536px !important;
  padding: 0 200px !important;
}

.user-cover {
  overflow: hidden;
  height: 666px;
}

.user-avt {
  width: 180px;
  height: 180px;
  min-width: 180px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.3);
  top: 0;
  right: -90px;
}

.cart-dialog .MuiPaper-elevation {
  top: 0px;
  right: 0px;
  border-radius: 0;
  position: absolute;
  margin: 0;
  width: 444.8px;
}

.cart-dialog .pad-25 {
  padding: 25px;
}

.cart-dialog button {
  font-size: 18px;
  width: 36px !important;
  min-width: 36px !important;
  height: 36px !important;
  border-radius: 50% !important;
}

.cart-dialog svg {
  color: #9F9F9F;
}

.cart-dialog .pad-25 hr {
  margin-right: 66px !important;
}

.cdialog-component .counter {
  width: 123px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.cdialog-component .minus {
  border-radius: 0 !important;
  color: #000 !important;
  border-right: 1px solid rgba(0, 0, 0, 0.3);
}

.cdialog-component .plus {
  border-radius: 0 !important;
  color: #000 !important;
  border-left: 1px solid rgba(0, 0, 0, 0.3);
}

.cdialog-component input {
  width: 100% !important;
  border-radius: 0% !important;
  border: 0 !important;
  outline: none !important;
  text-align: center !important;
}

.cart-dialog .btn-grp button {
  text-transform: capitalize !important;
  color: #000 !important;
  border: 1px solid rgba(0, 0, 0, 0.5) !important;
  border-radius: 30px !important;
  padding: 0 30px !important;
  font-size: 14px !important;
  width: 100% !important;
}

/* --------- Product Detail ----------*/
.product-headline {
  background-color: #F9F1E7;
  padding: 30px;
  display: flex;
  align-items: center;
}

.headline-info {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
  padding: 5px 30px 5px 0;
  margin-right: 30px;
  margin-left: 60px;
  border-right: 2px solid #9F9F9F;
}

.headline-text {
  color: #9F9F9F;
}

p {
  margin: 0;
  padding: 0;
}

.product-detail-container {
  border-bottom: 2px solid #D9D9D9;
  padding-bottom: 100px;
}

.image-field {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.small-gallery {
  margin-left: 50px;
}

.small-img {
  width: 100px;
  height: 100px;
  border: 1px solid transparent;
  border-radius: 5px;
  margin-bottom: 30px;
}

.big-img {
  width: 100%;
  /* height: */
  border: 1px solid transparent;
  border-radius: 5px;
}

.product-detail {
  width: 50%;
}

.rating-container {
  display: flex;
  align-items: center;
  gap: 5px;
  padding-right: 20px;
  margin-right: 20px;
  border-right: 1px solid #9F9F9F;
}

.star {
  font-size: 1.4rem;
}

.mini-description {
  width: 70%;
  text-wrap: wrap;
}

.color-title {
  font-size: 0.8rem;
  color: #9F9F9F;
  margin: 10px 0;
}

.color-box {
  border: 1px solid transparent;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.button-container {
  display: flex;
  gap: 50px;
  margin-top: 20px;
  border-bottom: 2px solid #D9D9D9;
  width: 75%;
  padding-bottom: 50px;
}

.product-counter {
  border: 1px solid #9F9F9F;
  padding: 10px 10px;
  border-radius: 5px; 
}

.counter-btn {
  border: none;
  background-color: transparent;
  font-size: 1rem;
}

.counter-num {
  width: 50px;
  text-align: center;
  font-size: 1rem;
  padding: 5px;
  border: none
}

.counter-num:focus {
  outline: none;
}

.counter-num::-webkit-inner-spin-button,
.counter-num::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.notification-bar {
  position: fixed;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  /* background-color: #28a745; Màu xanh lá */
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  text-align: center;
  animation: slide-down 0.3s ease-out;
}

/* Animation: Slide xuống từ trên */
@keyframes slide-down {
  from {
    top: -50px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.add-to-cart-btn, .compare-btn {
  padding: 10px 40px;
  background-color: transparent;
  border: 1px solid #9F9F9F;
  border-radius: 5px;
  font-size: 1rem;
}

.add-to-cart-btn:hover, .compare-btn:hover {
  background-color: #B88E2F;
  color: white;
}

.more-info-container {
  margin-bottom: 10px;
  color: #9F9F9F;
}

.share-field {
  display: flex;
  align-items: center;
}

.icon-share {
  font-size: 1.2rem;
}

.bonus-title {
  width: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}


/* -----------------Product Description Tabs--------------------- */
.des-info {
  padding: 40px 0 80px 0;
  border-bottom: 2px solid #D9D9D9;
}

.description-tabs {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
}

.tab {
  color: #9F9F9F;
}

.active-tab {
  color: #000000;
  /* padding-bottom: 5px; */
  border-bottom: 2px solid red;
}

.content-tabs {
  width: 70%;
  margin: 30px auto auto auto;
}

.description-content {
  width: 100%;
  margin: 0;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
  color: #9F9F9F;
}

.des-img-gallery {
  width: 80%;
  height: 400px;
  margin: 30px auto auto auto;
  justify-content: center;
  align-items: center;
  /* overflow: hidden; */
  gap: 80px;
}

.des-img-frame {
  width: 50%;
  border: 1px solid transparent;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.des-img {
  width: 100%;
  height: 400px;
  border: 1px solid transparent;
  border-radius: 10px;
}

.related-container {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.grid-layout {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20%;
  row-gap: 10px;
  align-items: center;
}

.arrow-left, .arrow-right {
  font-size: 1.6rem;
  border: 1px solid transparent;
  border-radius: 50%;
  padding: 5px;
}

.arrow-left:hover, .arrow-right:hover {
  filter: brightness(0.8);
}

/* -----------------Billing-Details--------------------- */
.billing-input {
  width: 100%;
  padding: 15px 10px;
  border: 1px solid #9F9F9F;
  border-radius: 5px;
}